@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

//COLORS
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$white: #fff;

$shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.3);

//MEDIA QUERIES
@mixin mini {
  @media screen and (max-width: 350px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 900px) {
    @content;
  }
}

//ANIMATION
@keyframes spin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

//RESET
* {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: $very-dark-gray;
}
body {
  background-color: $very-dark-gray;
}

//HEADER
header {
  height: 35vh;
  background-image: url(../images/pattern-bg-mobile.png);
  background-size: cover;
  padding: 30px;
}
h1 {
  color: $white;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 25px;
}
.form {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
  border-radius: 15px;
}
input {
  padding: 20px 25px;
  border: $white 2px solid;
  border-radius: 15px 0 0 15px;
  text-align: left;
  width: 100%;
  transition: all 200ms ease-in-out;
  &:focus-visible {
    outline: none;
    border: $very-dark-gray 2px solid;
  }
}
#submit {
  border-radius: 0 15px 15px 0;
  padding: 20px 25px;
  background-color: $very-dark-gray;
  border: $very-dark-gray 2px solid;
  img {
    transform: scale(1);
    transition: all 300ms ease-in-out;
  }
  &:hover {
    img {
      transform: scale(1.5);
    }
  }
}

//RESULTS
section {
  padding: 0 30px;
}
.result {
  z-index: 9;
  position: absolute;
  top: 22vh;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: $white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  padding: 15px;
  box-shadow: $shadow;
  &__item {
    h2 {
      text-transform: uppercase;
      color: $dark-gray;
      font-weight: 700;
      font-size: 12px;
      margin: 5px 0 5px 0;
    }
    p {
      font-weight: 500;
      font-size: 22px;
      margin: 5px 0 5px 0;
    }
  }
}

//MAP
#map {
  height: 80vh;
  z-index: 1;
}

//SPINNER
#spinner {
  display: block;
  z-index: 9;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: auto;
  border-radius: 50%;
  position: relative;
  top: 40vh;
  text-indent: -9999em;
  animation: spin 1.1s infinite ease;
  transform: translateZ(0);
}

//SMALL SCREENS
@include mini {
  .form {
    flex-direction: column;
    width: 100%;
  }
  input {
    text-align: center;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  #submit {
    cursor: pointer;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    width: 100%;
    img {
      transform: rotate(90deg);
    }
  }
  section {
    padding: 0;
  }
  .result {
    position: static;
    transform: translateX(0);
    width: 100%;
    height: 50vh;
    background-color: $white;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 25px;
  }
  #map {
    display: none;
  }
}

//CREDITS
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  p {
    color: $white;
  }
  a {
    color: $white;
    font-weight: 500;
    text-decoration: none;
    margin: 10px 0;
  }
  img {
    width: 20px;
  }
}
